* {
  font-family: sans-serif;
}

#interface {
  margin: auto;
  width: 50%;
  height: 50%;
  position:relative;
  padding: 5% 0;
}

h2 {
  font-size: 1.5em;
}

button {
  font-size: 1.25em;
}

footer {
  position: fixed;
  bottom: 10px;
}

#question1, #question2, #question3, #question4, #question5, #question6, #question7, #question8, #question9, #question10, #question11, #result {
  display:none;
}

#madlib {
  font-size: 1.5em;
  font-family: sans-serif;
}

#question1.clicked, #question2.clicked, #question3.clicked, #question4.clicked {
  display:none;
}

.label {
  padding: 5px;
  font-size: 2.5rem;
  line-height: 40px;
}

.saq {
  font-size: 24px;
}

.mcq {
  transform: scale(1.6);
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -2px;
}

.fade-in {
  opacity: 1;
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  animation-name: fadeout;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#rainbow {
  margin: auto;
  width: 35%;
  display:block;
  padding: 10% 0;
}

.spin {
  animation: rotation 0.5s infinite linear;
}

.stress {
  animation: rotation 1.5s infinite linear
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emoji {
  font-size: 4em;
  margin:auto;
  display:block;
  text-align:center;
}

.emospin {
  animation: tilt 2s infinite linear;
}

.clockspin {
  animation: tilt 0.5s infinite linear;
}

.call {
  animation: swag 1s infinite linear;
}

@keyframes swag {
  0% {
    width: 15%;
    transform: rotate(-75deg);
  }
  50% {
    width: 25%;
    transform: rotate(30deg);
  }
  100% {
    width: 15%;
    transform: rotate(-75deg);
  }

}

@keyframes tilt {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.emoand {
  animation: expand 2s infinite linear;
}

.sleep {
  animation: grow 1s infinite linear;
}

@keyframes expand {
  0% {
    width: 15%;
  }
  50% {
    width: 30%;
  }
  100% {
    width: 15%;
  }
}

@keyframes grow {
  0% {
    width: 15%;
  }
  85% {
    width: 30%;
  }
  100% {
    width: 30%
  }
}
